{% extends "main.html" %}

{% block title1 %}Grupo {{ grupo }} {% endblock %}

{% block content %}

{% if grupo %}


{% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}

<form action="{% url 'bicho:vote' grupo.id %}" method="post">
{% csrf_token %}
{% if numeros %}
	{%for n in numeros%}
	  <input type="radio" name="numero" id="numero{{forloop.counter}}" value="{{n.numero}}"><label>{{n.numero}}</label><br>
	{%endfor%}
{% endif %}
<input type="submit" value="votar"/>
</form>

{% endif %}
{% endblock %}
