{% extends "main.html" %}
{% load static %}

{% block title1 %} Grupos {% endblock %}

{% block content %}
{% if grupo_list %}
  <table width="100%" align="center">
  {% for g in grupo_list %}
    <tr>
	{% for x in g %}
	  <td><a href="{% url 'bicho:index' %}{{x.id}}"><img src="{% static x.imagem %}"/></a></td>
	{% endfor %}
	</tr>
  {% endfor %}
  
  </table>
{% else %}
  <p>Sem grupos para exibir</p>
{% endif %}

{% endblock %}